@charset "utf-8";
@import url(reset.css);

body {
    color: #1f1f1f;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .875em;
}

#container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#main_header {
    background: #181818;
    height: 90px;
    width: 100%;
    z-index: 1100;
    display: block;
    padding: .938em 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    transition: background 0.5s;
}

.head_boxing {
    margin: 0 auto;
    max-width: 1640px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: absolute;
    width: 20%;
    left: 8%;

}

.logo_1 {
    width: 200px;
    display: block;
    margin-right: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

.logo_2 {
    width: 110px;
    display: none;
}

.header_central {
    position: relative;
    width: 100%;
    margin-left: 10%;
}

.mainnav {
    height: auto;
    width: auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.menu {
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    padding: 16px;
    display: inline-block;
    margin: 0;
}

.menu li a {
    padding-bottom: 7px;
    color: #b2b2b2;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.menu li a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.menu li a:hover > .sub_back {
    display: block;
}

.sub_menu_wrap {
    display: none;
}

.sub_back {
    position: fixed;
    min-height: auto;
    top: 77px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    display: none;
    z-index: 10;
}

.sub_back img {
    width: 100%;
    padding: .938em 0 0 0;

}
/*메뉴 라이트 버튼*/

.header_right {
    position: relative;
    margin-top: -3px;
}

.icon_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
}

.icon_language {
    width: auto;
    height: auto;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
    display: block;
    position: relative;
    border: none;
}

.icon_kr {
    width: 18px;
    height: 18px;
    border-radius: 36px;
    overflow: hidden;
    position: relative;
    display: block;
}

.icon_kr img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    transform: translateX(-52%) translateY(-50%);
}

.icon_search {
    width: auto;
    height: auto;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
    display: block;
    position: relative;
    border: none;
}

.icon_search:after {
    background-image: url(../img/search.png);
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.icon_mytag {
    width: auto;
    height: auto;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
    display: block;
    position: relative;
    border: none;
}

.icon_mytag:after {
    background-image: url(../img/mytag.PNG);
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.icon .tip {
    top: 24px;
    color: #b2b2b2;
    _display: none;
    font-size: 11px;
    left: 50%;
    padding: 4px 10px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 300;
}

.icon:hover > .tip {
    color: #fff;
}

.sub_search {
    position: absolute;
    width: 100%;
    top: 90px;
    display: block;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #666;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
form.example button:hover {
    background: #888;
}
form.example::after {
    content: "";
    clear: both;
    display: table;
}
.sub_login {
    top: 90px;
    right: 1%;
    left: auto;
    display: block;
    position: absolute;
    width: 430px;
    background-color: #FFF;
    text-align: left;
    border: 1px solid grey;
}
.nav {
    padding: 32px 30px;
    line-height: 30px;
}
.nav li a:hover {
    font-weight: bold;
}

/*END*/

.menu_watch_container {
    position: absolute;
    width: 72%;
    height: 100%;
    top: 10px;
    margin: 0 auto;
    padding: 0 60px 80px;
}

.menu_watch_container h3 {
    padding: 45px 0 40px 0;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 18px;

}

.menu_watch_seletction {
    text-align: center;
}

.menu_watch_seletction_list {
    position: absolute;
    list-style-type: none;
    text-align: center;
    padding: 0 100px;
    margin: 0;
    border-right: 1px solid #b2b2b2;
}

.menu_watch_seletction_list li {
    display: inline-block;
    vertical-align: bottom;
    width: 15%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.menu_watch_seletction_list li span {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 9px;
    line-height: 13px;
    color: #6c6c6c;
    display: inline-block;
    margin-top: 10px;
    height: 40px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_watch_time_container {
    position: absolute;
    display: block;
    width: 20%;
    top: 25%;
    right: -20%;
}

.menu_watch_list ul li a {
    display: block;
    text-align: center;
}

.menu_watch_list ul li {
    letter-spacing: 2px;
    line-height: 30px;
}

.menu_watch_select {
    width: 100%;
    text-align: center;
}

.menu_watch_select a:hover {
    background-color: #000;
    color: #fff;
}

.menu_watch_select a {
    position: absolute;
    top: 73%;
    left: 45%;
    font-size: 9px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    border: 1px solid #d5d5d5;
    padding: 20px 20px 16px;
    margin-top: 36px;
    letter-spacing: 1px;
}

.menu_watch_seletction_apple {
    position: absolute;
    list-style-type: none;
    text-align: center;
    padding: 0 68px 0 100px;
    margin: 0;
    border-right: 1px solid #b2b2b2;
}

.menu_watch_list ul li a:hover {
    font-weight: bold;
}

.login_content {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.back-img {
    position: fixed;
    top: 90px;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.container {
    position: relative;
    width: 90%;
    height: auto;
    z-index: 9;
    margin: 0 auto;
}
.row1 {
    position: relative;
    top: 100px;
    z-index: 0;
    margin-left: 0;
    margin-right: 0;
}
.row1::after {
    content: "";
    display: block;
    clear: both;
}
.map {
    float: left;
    padding-left: 10px;
    font-size: 15px;
    color: #828282;
}
.location_wrap {
    position: relative;
    width: 100%;
    margin: 100px auto;
}
.location_content1 {
    line-height: 30px;
}
.location_title {
    padding-top: 5%;
    padding-bottom: 5%;
}
.location_img a img {
    width: 100%;
    padding: 5% 0;
    border-bottom: 1px solid #c8c8c8;
}
.location_img a span {
    position: absolute;
    left: 23%;
    margin-top: 8.5%;
    color: #f9f9f9;
    font-size: 0.8vw;
    font-weight: bold;
    border: 1vw solid red;
    background-color: red;
}
.location_img a span:hover {
    border: 1vw solid #000;
    background-color: #000;
}
.store_title {
    margin: 5% 0 2% 0;
}
.store_wrap {
    position: relative;
    width: 100%;
}

.store_wrap1 {
    width: 30%;
    height: 230px; 
    border: 1px solid #c8c8c8;
    box-shadow: 2px 2px 2px 2px #c8c8c8;
    float: left;
}
.store_wrap1_top {
    background: #000;
    width: 100%;
    height: 70px;
}
.store_text_top {
    color: #fff;
    text-align: center;
    padding-top: 8%;
    font-weight: bold;
}
.store_wrap1_bottom {
    position: relative;
    width: 100%;
    height: 50%;
}
.store_text_button:hover {
    border: 0.5vw solid #000;
    background-color: #000;
}
.store_text_center {
    color: #000;
    
    text-align: center;
    margin-top: 12%;
    margin-left: 3%;
    margin-right: 3%;
}
.store_wrap1_bottom a {
    width: 100%;
    margin: 0 auto;
}
.store_text_button {
    position: absolute;
    text-align: center;
    width: 30%;
    left: 35%;
    margin-top: 7%;
    color: #f9f9f9;
    font-size: 0.8vw;
    font-weight: bold;
    border: 0.5vw solid red;
    background-color: red;
}

.store_wrap::after {
    content: "";
    display: block;
    clear: both;
}

.store_wrap2 {
    width: 30%;
    height: 230px; 
    border: 1px solid #c8c8c8;
    box-shadow: 2px 2px 2px 2px #c8c8c8;
    float: left;
    margin-left: 5%;
}
.store_wrap3 {
    width: 30%;
    height: 230px; 
    border: 1px solid #c8c8c8;
    box-shadow: 2px 2px 2px 2px #c8c8c8;
    float: right;
}
.footer {
    background: #000;
    position: relative;
    text-align: center;
}

.footer p {
    padding: 30px 0 30px 0;
    color: #bbb;
}


@media all and (min-width:740px) and (max-width:1023px) {
    .header_central {
        width: auto;
    }

    .menu {
        display: none;
    }

    .tip {
        display: none;
    }

    .logo {
        margin: 0 auto 0 40%;
    }

    .logo_1 {
        display: none;
    }

    .logo_2 {
        display: block;
    }

    .btn {
        display: block;
    }
    
    .icon_mytag:after {
        background-image: none;
    }

    .icon_mytag {
        display: none;
    }

    .sub_search {
        top: 50px;
    }

    .icon_menu {
        width: 110px;
        float: right;
    }
    .header_right {
        width: 100%;
        position: relative;
        right: -30px;
    }

    #main_header {
        height: 50px;
        background: #181818;
    }

    .sub_menu_wrap {
        display: block;
        position: absolute;
        width: 100%;
        height: 1000px;
        left: -100%;
        top: 50px;
        background: #fff;
    }

    .sub_menu_nav {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .sub_menu_nav li {
        width: 100%;
        padding: 20px 40px;
        font-size: 16px;
        text-align: left;
        display: block;
    }

    .sub_menu_icon {
        font-size: 16px;
        color: #1f1f1f;
        position: relative;
        display: block;
    }

    .sub_menu_icon1::after {
        background: url(../img/iconfinder_BUTTOM.png) right center no-repeat;
        background-size: 10px 10px;
        background-position: center center;
        content: " ";
        height: 20px;
        width: 18px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .sub_menu_icon2::after {
        background: url(../img/iconfinder_location.png) right center no-repeat;
        background-size: 20px 20px;
        background-position: center center;
        content: " ";
        height: 20px;
        width: 18px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .sub_menu_icon3::after {
        background: url(../img/iconfinder_profile.png) right center no-repeat;
        background-size: 20px 20px;
        background-position: center center;
        content: " ";
        height: 20px;
        width: 18px;
        position: absolute;
        top: 0;
        right: 0;
    }

    /*    햄버거 메뉴*/
    .three {
        position: absolute;
        width: auto;

    }

    .hamburger > .line {
        width: 23px;
        height: 2px;
        background-color: #fff;
        display: block;
        margin: 6px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #hamburger-1.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger-1.is-active .line:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    #hamburger-1.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    /*   스토어 수정 */
    
    .row1 {
        display: none;
    }
    .login_content {
        width: 80%;
    }
    .store_text_center {
        margin-top: 18%;
    }
    .location_img a span {
        font-size: 12px;
    }
    .store_text_button {
        width: 40%;
        font-size: 1vw;
        border: 10px solid red;
        left: 32%;
    }
    .store_text_button:hover {
        border: 10px solid #000;
        background-color: #000;
}    
}

@media all and (max-width:739px) {
    .header_central {
        width: auto;
    }

    .slide-bottom {
        top: 880px;
        left: 48%;
        width: 30px;
    }

    .menu {
        display: none;
    }

    .tip {
        display: none;
    }

    .sub_login {
        right: 0;
    }

    .btn {
        display: block;
    }

    .icon_menu {
        width: 120px;
    }

    .logo {
        margin: 0 auto 0 30%;
    }

    .logo_1 {
        display: none;
    }

    .logo_2 {
        display: block;
    }

    .icon_mytag:after {
        background-image: none;
    }

    .icon_mytag {
        display: none;
    }

    .sub_search {
        top: 50px;
    }

    .icon_menu {
        width: 75px;
        margin: 0;
    }
    .header_right {
        width: 100%;
        position: relative;
        margin-left: 75%;
    }

    #main_header {
        height: 50px;
        background: #181818;
    }

    .sub_menu_wrap {
        display: block;
        position: absolute;
        width: 100%;
        height: 1000px;
        left: -100%;
        top: 50px;
        background: #fff;
    }

    .sub_menu_nav {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .sub_menu_nav li {
        width: 100%;
        padding: 20px 40px;
        font-size: 16px;
        text-align: left;
        display: block;
    }

    .sub_menu_icon {
        font-size: 16px;
        color: #1f1f1f;
        position: relative;
        display: block;
    }

    .sub_menu_icon1::after {
        background: url(../img/iconfinder_BUTTOM.png) right center no-repeat;
        background-size: 10px 10px;
        background-position: center center;
        content: " ";
        height: 20px;
        width: 18px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .sub_menu_icon2::after {
        background: url(../img/iconfinder_location.png) right center no-repeat;
        background-size: 20px 20px;
        background-position: center center;
        content: " ";
        height: 20px;
        width: 18px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .sub_menu_icon3::after {
        background: url(../img/iconfinder_profile.png) right center no-repeat;
        background-size: 20px 20px;
        background-position: center center;
        content: " ";
        height: 20px;
        width: 18px;
        position: absolute;
        top: 0;
        right: 0;
    }

    /*    햄버거 메뉴*/
    .three {
        position: absolute;
        width: auto;

    }

    .hamburger > .line {
        width: 23px;
        height: 2px;
        background-color: #fff;
        display: block;
        margin: 6px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #hamburger-1.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger-1.is-active .line:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    #hamburger-1.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    /*   스토어 수정 */
    
    .row1 {
        display: none;
    }
    .login_content {
        width: 80%;
    }
    .container {
        width: 100%;
    }
    .store_title {
        margin: 10% 0 5% 0;
    }
    .store_wrap1 {
        width: 100%;
        float: none;
        margin-bottom: 10%;
    }
    .store_wrap2 {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-bottom: 10%;
    }
    .store_wrap3 {
        width: 100%;
        float: none;
    }
    .location_img a span {
        font-size: 10px;
    }
    .location_img a img {
        padding: 5% 0 10% 0;
    }
    .store_text_button {
        font-size: 12px;
        border: 10px solid red;
    }
    .store_text_button:hover {
        border: 10px solid #000;
        background-color: #000;
}    
    
}
